.categoryStore {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.singelBox {
    width: 350px;
    height: 100px;
    margin: 15px;
    font-size: 20px;
    border: 2px solid #fff;
    box-shadow: -5px 5px 5px -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.7s ease;
}
.singelBox:hover{
    background-color: blue;
    border: blue;
    color: #fff;
   
    border-radius: 4px;
    transform: scale(1.2); 
}
