.category {
  width: 100%;
  height: auto;
  padding: 50px;
}
.category:nth-child(odd) {
  background-color: rgb(25, 36, 4);
  background: rgb(61, 12, 98);
  background: -moz-linear-gradient(
    146deg,
    rgba(61, 12, 98, 1) 0%,
    rgba(4, 184, 82, 1) 10%,
    rgba(129, 16, 81, 1) 20%,
    rgba(156, 147, 16, 1) 30%,
    rgba(158, 11, 152, 0.8295693277310925) 40%,
    rgba(172, 83, 9, 1) 50%,
    rgba(136, 13, 152, 1) 60%,
    rgba(134, 15, 9, 1) 70%,
    rgba(135, 17, 117, 1) 80%,
    rgba(130, 98, 15, 1) 90%,
    rgba(130, 21, 21, 0.7175245098039216) 100%
  );
  background: -webkit-linear-gradient(
    146deg,
    rgba(61, 12, 98, 1) 0%,
    rgba(4, 184, 82, 1) 10%,
    rgba(129, 16, 81, 1) 20%,
    rgba(156, 147, 16, 1) 30%,
    rgba(158, 11, 152, 0.8295693277310925) 40%,
    rgba(172, 83, 9, 1) 50%,
    rgba(136, 13, 152, 1) 60%,
    rgba(134, 15, 9, 1) 70%,
    rgba(135, 17, 117, 1) 80%,
    rgba(130, 98, 15, 1) 90%,
    rgba(130, 21, 21, 0.7175245098039216) 100%
  );
  background: linear-gradient(
    146deg,
    rgba(61, 12, 98, 1) 0%,
    rgba(4, 184, 82, 1) 10%,
    rgba(129, 16, 81, 1) 20%,
    rgba(156, 147, 16, 1) 30%,
    rgba(158, 11, 152, 0.8295693277310925) 40%,
    rgba(172, 83, 9, 1) 50%,
    rgba(136, 13, 152, 1) 60%,
    rgba(134, 15, 9, 1) 70%,
    rgba(135, 17, 117, 1) 80%,
    rgba(130, 98, 15, 1) 90%,
    rgba(130, 21, 21, 0.7175245098039216) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d0c62",endColorstr="#821515",GradientType=1);
}
.category p {
  font-size: 50px;
}

.catagoryStore {
  width: 100%;
  height: auto;
  margin-top: 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.CategoryBox {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  background-color: #0d0675;
  text-align: center;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 80%;
  margin-left: 5px;
  border-radius: 50px;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.CategoryBox p {
  font-size: 20px;
}

.chevron {
  width: 100px;
  height: 40px;
  position: relative;
  left: 80%;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.ChevronSide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ac652f;
  opacity: 0.8;
  color: white;
}
