*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Open Sans';
}
body {
  height: 100%;
  background-color: black;
  color: #fff;
}
img{
  width: 30px;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#fff;
  font-size: 1.5rem;
}
a:hover{
  color: orange;
}
