*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Open Sans';
}
body {
  height: 100%;
  background-color: black;
  background-image: url("./Assets/Icons/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#fff;
  font-size: 1rem;
}
a:hover{
  color: orange;
}
